# Predicting Restaurant Food Cost 


Who doesn’t love food? All of us must have craving for at least a few favourite food items, we may also have a few places where we like to get them, a restaurant which serves our favourite food the way we want it to be. But there is one factor that will make us reconsider having our favourite food from our favourite restaurant, the cost. Here in this hackathon, you will be predicting the cost of the food served by the restaurants across different cities in India. You will use your Data Science skills to investigate the factors that really affect the cost, and who knows maybe you will even gain some very interesting insights that might help you choose what to eat and from where.

Size of training set: 12,690 records

Size of test set: 4,231 records



Size of training set: 12,690 records

Size of test set: 4,231 records

FEATURES:
TITLE: The feature of the restaurant which can help identify what and for whom it is suitable for.

RESTAURANT_ID: A unique ID for each restaurant.

CUISINES: The variety of cuisines that the restaurant offers.

TIME: The open hours of the restaurant.

CITY: The city in which the restaurant is located.

LOCALITY: The locality of the restaurant.

RATING: The average rating of the restaurant by customers.

VOTES: The overall votes received by the restaurant.

COST: The average cost of a two-person meal.



https://github.com/dsrscientist/Data-Science-ML-Capstone-Projects

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
train = pd.read_excel('Data_Train.xlsx')
test = pd.read_excel('Data_Test.xlsx')

In [3]:
train.head(25)

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES,COST
0,CASUAL DINING,9438,"Malwani, Goan, North Indian","11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)",Thane,Dombivali East,3.6,49 votes,1200
1,"CASUAL DINING,BAR",13198,"Asian, Modern Indian, Japanese",6pm – 11pm (Mon-Sun),Chennai,Ramapuram,4.2,30 votes,1500
2,CASUAL DINING,10915,"North Indian, Chinese, Biryani, Hyderabadi","11am – 3:30pm, 7pm – 11pm (Mon-Sun)",Chennai,Saligramam,3.8,221 votes,800
3,QUICK BITES,6346,"Tibetan, Chinese",11:30am – 1am (Mon-Sun),Mumbai,Bandra West,4.1,24 votes,800
4,DESSERT PARLOR,15387,Desserts,11am – 1am (Mon-Sun),Mumbai,Lower Parel,3.8,165 votes,300
5,CASUAL DINING,5618,"North Indian, Chinese, Seafood, Biryani",12noon – 12:30AM (Mon-Sun),Mumbai,Vile Parle West,4.0,550 votes,800
6,CAFÉ,4383,"Cafe, Chinese, Pizza, North Indian, Burger","12noon – 11:30pm (Mon, Tue, Thu, Fri, Sat, Sun...",Bangalore,Koramangala 6th Block,4.1,509 votes,600
7,MICROBREWERY,1249,Bar Food,1pm – 1am (Mon-Sun),Gurgaon,Sector 29,4.3,1612 votes,1600
8,QUICK BITES,7062,"South Indian, North Indian",7am – 10:30pm (Mon-Sun),Bangalore,Bannerghatta Road,3.9,101 votes,300
9,QUICK BITES,10109,North Indian,"11am – 2pm, 4pm – 10:30pm (Mon-Sun)",Hyderabad,Dilsukhnagar,3.3,219 votes,200
10,CASUAL DINING,38,"North Indian, Chinese, Fast Food, Biryani",12:30pm – 12:30AM (Mon-Sun),Bangalore,Koramangala 5th Block,4.1,244 votes,900
11,"QUICK BITES,BEVERAGE SHOP",844,"Fast Food, Burger, Beverages","11am – 12:15AM (Mon, Tue, Wed, Thu, Fri, Sun)...",Bangalore,Indiranagar,4.0,274 votes,800
12,CASUAL DINING,938,"Arabian, Mughlai",11am – 11pm (Mon-Sun),Kochi,Chullickal,3.4,15 votes,600
13,CASUAL DINING,4319,South Indian,11am – 11:30pm (Mon-Sun),Kochi,Edappally,-,NaN,400
14,QUICK BITES,15024,Maharashtrian,"Closed (Mon),11am – 11pm (Tue-Sun)",Thane West,Majiwada,4.0,160 votes,300
15,"CASUAL DINING,IRANI CAFE",12401,"Parsi, Hyderabadi","11:30am – 11:30pm (Mon, Tue, Wed, Thu, Sun)...",Hyderabad,Jubilee Hills,4.5,2499 votes,1400
16,CASUAL DINING,5254,"North Indian, Fast Food",7:30am – 12midnight (Mon-Sun),Mumbai,Borivali West,3.6,319 votes,900
17,CASUAL DINING,8259,"North Indian, Hyderabadi, Chinese",11am – 12midnight (Mon-Sun),Hyderabad,Nagole,3.5,121 votes,600
18,CASUAL DINING,4009,"Chinese, Thai",11am – 11:45pm (Mon-Sun),Andheri Lokhandwala,Andheri Lokhandwala,3.6,535 votes,600
19,"BAKERY,QUICK BITES",11841,"Bakery, Fast Food, Momos","Closed (Mon),9am – 10pm (Tue-Sun)",New Delhi,Krishna Nagar,4.1,350 votes,200
20,CASUAL DINING,6465,"Continental, European",9:30am – 10pm (Mon-Sun),Hyderabad,Hitech City,4.2,400 votes,350
21,QUICK BITES,1048,"North Indian, Rolls, Momos",10:30am – 11:30pm (Mon-Sun),New Delhi,Karol Bagh,4.0,1327 votes,500
22,None,12499,"North Indian, Fast Food, Mughlai, Rolls",11am – 3am (Mon-Sun),New Delhi,SDA,4.0,1191 votes,450
23,CASUAL DINING,10412,"Andhra, Chinese, North Indian, Biryani","11am – 3:30pm, 7pm – 11pm (Mon-Sun)",Bangalore,Thippasandra,3.9,533 votes,600
24,CAFÉ,2389,"Cafe, Italian, Chinese",11am – 11pm (Mon-Sun),New Delhi,Dwarka,4.2,493 votes,700

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12690 entries, 0 to 12689
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   TITLE          12690 non-null  object
 1   RESTAURANT_ID  12690 non-null  int64
 2   CUISINES       12690 non-null  object
 3   TIME           12690 non-null  object
 4   CITY           12578 non-null  object
 5   LOCALITY       12592 non-null  object
 6   RATING         12688 non-null  object
 7   VOTES          11486 non-null  object
 8   COST           12690 non-null  int64
dtypes: int64(2), object(7)
memory usage: 892.4+ KB

In [5]:
train.shape

(12690, 9)

In [6]:
train.isnull().sum()

TITLE               0
RESTAURANT_ID       0
CUISINES            0
TIME                0
CITY              112
LOCALITY           98
RATING              2
VOTES            1204
COST                0
dtype: int64

In [7]:
test.head()

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES
0,CASUAL DINING,4085,"North Indian, Chinese, Mughlai, Kebab",12noon – 12midnight (Mon-Sun),Noida,Sector 18,4.3,564 votes
1,QUICK BITES,12680,"South Indian, Fast Food, Pizza, North Indian",7am – 12:30AM (Mon-Sun),Mumbai,Grant Road,4.2,61 votes
2,CASUAL DINING,1411,"North Indian, Seafood, Biryani, Chinese",11am – 11:30pm (Mon-Sun),Mumbai,Marine Lines,3.8,350 votes
3,None,204,Biryani,"9am – 10pm (Mon, Wed, Thu, Fri, Sat, Sun), 10:...",Faridabad,NIT,3.8,1445 votes
4,QUICK BITES,13453,"South Indian, Kerala",11am – 10pm (Mon-Sun),Kochi,Kaloor,3.6,23 votes

In [8]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4231 entries, 0 to 4230
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   TITLE          4231 non-null   object
 1   RESTAURANT_ID  4231 non-null   int64
 2   CUISINES       4231 non-null   object
 3   TIME           4231 non-null   object
 4   CITY           4196 non-null   object
 5   LOCALITY       4201 non-null   object
 6   RATING         4229 non-null   object
 7   VOTES          3829 non-null   object
dtypes: int64(1), object(7)
memory usage: 264.6+ KB

In [9]:
test.shape

(4231, 8)

In [10]:
test.isnull().sum()

TITLE              0
RESTAURANT_ID      0
CUISINES           0
TIME               0
CITY              35
LOCALITY          30
RATING             2
VOTES            402
dtype: int64

In [11]:
Rest_DF=train.append(test)

In [12]:
Rest_DF.isnull().sum()

TITLE               0
RESTAURANT_ID       0
CUISINES            0
TIME                0
CITY              147
LOCALITY          128
RATING              4
VOTES            1606
COST             4231
dtype: int64

In [13]:
Rest_DF['CITY'].fillna('Unknown', inplace=True)

Rest_DF['LOCALITY'].fillna('Unknown', inplace=True)

Rest_DF['RATING'].fillna('0.0', inplace=True)

Rest_DF['VOTES'].fillna('0 votes', inplace=True)

Rest_DF['COST'].fillna('0', inplace=True)

In [14]:
Rest_DF.isnull().sum()

TITLE            0
RESTAURANT_ID    0
CUISINES         0
TIME             0
CITY             0
LOCALITY         0
RATING           0
VOTES            0
COST             0
dtype: int64

In [15]:
Rest_DF['TITLE'].value_counts()

QUICK BITES                     5634
CASUAL DINING                   4910
None                            1287
CAFÉ                             830
DESSERT PARLOR                   508
                                ...
BEVERAGE SHOP,FOOD COURT           1
FOOD TRUCK,DESSERT PARLOR          1
CONFECTIONERY,QUICK BITES          1
CASUAL DINING,DESSERT PARLOR       1
CAFÉ,FINE DINING                   1
Name: TITLE, Length: 123, dtype: int64

In [16]:
Rest_DF['CUISINES'].value_counts()

North Indian                                                           716
North Indian, Chinese                                                  714
South Indian                                                           706
Fast Food                                                              364
Chinese                                                                226
                                                                      ...
Cafe, Italian, Pizza, Beverages, Desserts                                1
Desserts, Ice Cream, North Indian                                        1
Steak, Italian, Continental, American, Burger, BBQ, Salad                1
American, Continental, Italian, Sandwich, Burger, Pizza, Beverages,      1
Continental, Lebanese, Mediterranean, North Indian                       1
Name: CUISINES, Length: 5183, dtype: int64

In [17]:
Rest_DF['COST'] = Rest_DF['COST'].astype(float)

In [18]:
Rest_DF["VOTES"] =Rest_DF["VOTES"].str.split()
Rest_DF["VOTES"] = Rest_DF["VOTES"].str[0].astype('float')

In [19]:
Rest_DF['RATING']=Rest_DF['RATING'].str.extract('(\d+)').astype(float)

In [20]:
Rest_DF.head()

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES,COST
0,CASUAL DINING,9438,"Malwani, Goan, North Indian","11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)",Thane,Dombivali East,3.0,49.0,1200.0
1,"CASUAL DINING,BAR",13198,"Asian, Modern Indian, Japanese",6pm – 11pm (Mon-Sun),Chennai,Ramapuram,4.0,30.0,1500.0
2,CASUAL DINING,10915,"North Indian, Chinese, Biryani, Hyderabadi","11am – 3:30pm, 7pm – 11pm (Mon-Sun)",Chennai,Saligramam,3.0,221.0,800.0
3,QUICK BITES,6346,"Tibetan, Chinese",11:30am – 1am (Mon-Sun),Mumbai,Bandra West,4.0,24.0,800.0
4,DESSERT PARLOR,15387,Desserts,11am – 1am (Mon-Sun),Mumbai,Lower Parel,3.0,165.0,300.0

In [21]:
Rest_DF['LOCALITY'].value_counts()

Gachibowli             216
Indiranagar            187
Kakkanad               175
Kukatpally             171
Madhapur               169
                      ...
Bhyander East            1
Sector-16 Rohini         1
Pandara Road             1
Sector 15 Part 1         1
Near Christ College      1
Name: LOCALITY, Length: 1637, dtype: int64

In [22]:
Rest_DF['CITY'].value_counts()

Chennai                  2855
Bangalore                2835
Hyderabad                2458
Mumbai                   2311
New Delhi                1754
                         ...
Kochi Kakkanad              1
TCS Synergy park            1
Chennai- 600107             1
IOB Bank Kamala Nagar       1
Khairatabad                 1
Name: CITY, Length: 451, dtype: int64

In [23]:
Rest_DF['LOCATION']=Rest_DF['CITY']+' '+Rest_DF['LOCALITY']
Rest_DF.drop(columns=['CITY','LOCALITY'],inplace=True)
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
Rest_DF['LOCATION']=le.fit_transform(Rest_DF['LOCATION'])

In [24]:
Rest_DF['CUISINES']=le.fit_transform(Rest_DF['CUISINES'])

In [25]:
Rest_DF['TITLE']=le.fit_transform(Rest_DF['TITLE'])

In [26]:
Rest_DF.head(25)

,TITLE,RESTAURANT_ID,CUISINES,TIME,RATING,VOTES,COST,LOCATION
0,34,9438,3294,"11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)",3.0,49.0,1200.0,1869
1,36,13198,364,6pm – 11pm (Mon-Sun),4.0,30.0,1500.0,455
2,34,10915,3729,"11am – 3:30pm, 7pm – 11pm (Mon-Sun)",3.0,221.0,800.0,460
3,104,6346,5156,11:30am – 1am (Mon-Sun),4.0,24.0,800.0,1236
4,55,15387,2218,11am – 1am (Mon-Sun),3.0,165.0,300.0,1300
5,34,5618,3907,12noon – 12:30AM (Mon-Sun),4.0,550.0,800.0,1373
6,24,4383,994,"12noon – 11:30pm (Mon, Tue, Thu, Fri, Sat, Sun...",4.0,509.0,600.0,154
7,90,1249,520,1pm – 1am (Mon-Sun),4.0,1612.0,1600.0,727
8,104,7062,4912,7am – 10:30pm (Mon-Sun),3.0,101.0,300.0,89
9,104,10109,3574,"11am – 2pm, 4pm – 10:30pm (Mon-Sun)",3.0,219.0,200.0,809
10,34,38,3794,12:30pm – 12:30AM (Mon-Sun),4.0,244.0,900.0,152
11,107,844,2420,"11am – 12:15AM (Mon, Tue, Wed, Thu, Fri, Sun)...",4.0,274.0,800.0,123
12,34,938,233,11am – 11pm (Mon-Sun),3.0,15.0,600.0,1054
13,34,4319,4768,11am – 11:30pm (Mon-Sun),NaN,0.0,400.0,1059
14,104,15024,3269,"Closed (Mon),11am – 11pm (Tue-Sun)",4.0,160.0,300.0,1887
15,41,12401,4498,"11:30am – 11:30pm (Mon, Tue, Wed, Thu, Sun)...",4.0,2499.0,1400.0,827
16,34,5254,4063,7:30am – 12midnight (Mon-Sun),3.0,319.0,900.0,1243
17,34,8259,4106,11am – 12midnight (Mon-Sun),3.0,121.0,600.0,858
18,34,4009,1717,11am – 11:45pm (Mon-Sun),3.0,535.0,600.0,21
19,7,11841,486,"Closed (Mon),9am – 10pm (Tue-Sun)",4.0,350.0,200.0,1519
20,34,6465,1929,9:30am – 10pm (Mon-Sun),4.0,400.0,350.0,820
21,104,1048,4328,10:30am – 11:30pm (Mon-Sun),4.0,1327.0,500.0,1513
22,95,12499,4081,11am – 3am (Mon-Sun),4.0,1191.0,450.0,1613
23,34,10412,131,"11am – 3:30pm, 7pm – 11pm (Mon-Sun)",3.0,533.0,600.0,220
24,24,2389,1175,11am – 11pm (Mon-Sun),4.0,493.0,700.0,1466

In [27]:
Rest_DF.head()

,TITLE,RESTAURANT_ID,CUISINES,TIME,RATING,VOTES,COST,LOCATION
0,34,9438,3294,"11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)",3.0,49.0,1200.0,1869
1,36,13198,364,6pm – 11pm (Mon-Sun),4.0,30.0,1500.0,455
2,34,10915,3729,"11am – 3:30pm, 7pm – 11pm (Mon-Sun)",3.0,221.0,800.0,460
3,104,6346,5156,11:30am – 1am (Mon-Sun),4.0,24.0,800.0,1236
4,55,15387,2218,11am – 1am (Mon-Sun),3.0,165.0,300.0,1300

In [28]:
Rest_DF.drop(columns='TIME',inplace=True)

In [29]:
Rest_DF.fillna(0,inplace=True)

In [30]:
train_set=Rest_DF[0:12690]
test_set=Rest_DF[12690:]
test_set=test_set.drop(['COST'],axis=1)

In [31]:
train_set.shape,test_set.shape

((12690, 7), (4231, 6))

In [32]:
#separating input and output variable
df_x=train_set.drop(['COST'],axis=1)
y=train_set.COST
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
x=ss.fit_transform(df_x)

In [33]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
def maxr2_score(regr,x,y):
    max_r_score=0
    for r_state in range(42,101):
        x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=r_state,test_size=0.20)
        regr.fit(x_train,y_train)
        y_pred=regr.predict(x_test)
        r2_scr=r2_score(y_test,y_pred)
        #print('r2_score corresponding to random state: ',r_state,"is:",r2_scr)
        if r2_scr>max_r_score:
            max_r_score=r2_scr
            final_r_state=r_state
    print('\n\nmax r2 score corresponding to random state:',final_r_state,"is",max_r_score)
    return final_r_state

In [34]:
#lets use linear regression and check max  r2 score corresponding to different random states
from sklearn.linear_model import LinearRegression
lreg=LinearRegression()
r_state=maxr2_score(lreg,x,y)

max r2 score corresponding to random state: 67 is 0.2037365006624321

In [35]:
#lets use grid_search to find optimal value of n_neigbors for KNN model
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsRegressor
neighbors={'n_neighbors':range(1,30)}
knr=KNeighborsRegressor()
gknr=GridSearchCV(knr,neighbors,cv=10)
gknr.fit(x,y)
gknr.best_params_

{'n_neighbors': 10}

In [36]:
#lets use KNN Regression and check max r2 score corresponding to different random states
knr=KNeighborsRegressor(n_neighbors=10)
r_state=maxr2_score(knr,x,y)

max r2 score corresponding to random state: 94 is 0.48590493680769375

In [37]:
#lets check the mean r2 score of both linear regression model and knn regression
from sklearn.model_selection import cross_val_score
print('Mean r2 score for linear regression : ',cross_val_score(lreg,x,y,cv=5,scoring='r2').mean())
print('Standard deviation in r2 score for Linear Regression : ',cross_val_score(lreg,x,y,cv=5,scoring='r2').std())
print('\n\n Mean r2 score for KNN Regression : ',cross_val_score(knr,x,y,cv=5,scoring='r2').mean())
print('Standard deviation in r2 score for KNN Regression : ',cross_val_score(knr,x,y,cv=5,scoring='r2').std())

Mean r2 score for linear regression :  0.1508780396161174
Standard deviation in r2 score for Linear Regression :  0.026079467103742142


 Mean r2 score for KNN Regression :  0.4137258190867675
Standard deviation in r2 score for KNN Regression :  0.02507741978207185

In [38]:
#lets check Lasso regression and find best value of alpha
from sklearn.linear_model import Lasso
lsreg=Lasso()
parameters={'alpha':[0.001,0.01,0.1,1]}
clf=GridSearchCV(lsreg,parameters,cv=10)
clf.fit(x,y)
clf.best_params_

{'alpha': 1}

In [39]:
#lets check max r2 score when we use lasso
lsreg=Lasso(alpha=0.001)
r_state=maxr2_score(lsreg,x,y)

max r2 score corresponding to random state: 67 is 0.20373625246996407

In [40]:
#lets use cross val score with lasso
print("Mean r2 score for lasso regression : ",cross_val_score(lsreg,x,y,cv=5,scoring='r2').mean())
print('standard deviation for lasso ragression : ',cross_val_score(lsreg,x,y,scoring='r2').std())

Mean r2 score for lasso regression :  0.15087814340628225
standard deviation for lasso ragression :  0.026079154265018493

In [41]:
#now we will try to use gradient boosting technique
#for getting best set of parameter we will use grid search
from sklearn.ensemble import GradientBoostingRegressor
import warnings
warnings.filterwarnings('ignore')
gbr=GradientBoostingRegressor()
parameters={'learning_rate':[0.001,0.01,0.1,1],'n_estimators':[10,100,500,1000]}
clf=GridSearchCV(gbr,parameters,cv=5)
clf.fit(x,y)
clf.best_params_

{'learning_rate': 0.1, 'n_estimators': 500}

In [42]:
#now we will use cross val score to check the mean r2 score and standard deviation
gbr=GradientBoostingRegressor(learning_rate=0.1,n_estimators=500)
print('Mean r2 score for gradient boosting Regrssion : ',cross_val_score(gbr,x,y,cv=5,scoring='r2').mean())
print('Standard Deviation r2 score for gradient boosting Regrssion : ',cross_val_score(gbr,x,y,cv=5,scoring='r2').std())

Mean r2 score for gradient boosting Regrssion :  0.7222024000106424
Standard Deviation r2 score for gradient boosting Regrssion :  0.039690378359270286

In [43]:
# we tried all the model and till now n_neigbors regression is the best
#random state corresponding to highest r2_score is 94
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=54,test_size=0.20)
knr=KNeighborsRegressor(n_neighbors=10)
knr.fit(x,y)
y_pred=lreg.predict(x_test)

In [44]:
#lets find the rmse and r2_score using sklearn.metrics
import numpy as np
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
print("RMSE is : ",np.sqrt(mean_squared_error(y_test,y_pred)))
print('r2_score is : ',r2_score(y_test,y_pred))

RMSE is :  570.016737820171
r2_score is :  0.11112162256289015

In [46]:
from sklearn.externals import joblib
joblib.dump(lreg,'Predicting Restaurant Food Cost_model.pkl')

['Predicting Restaurant Food Cost_model.pkl']

In [47]:
model=joblib.load('Predicting Restaurant Food Cost_model.pkl')

In [48]:
result=pd.DataFrame(model.predict(test_set))

In [49]:
result.to_csv('RestaurantFoodCostprdictresults.csv')